<!DOCTYPE html>
<html>
<head>
	<?php
		include_once 'lib/head.html';
		include_once 'lib/style.html';
	?>
	<title><?=$title?></title>
</head>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
<div class="wrapper">
	<?php
		include_once 'default/header.html';
		include_once 'default/sidebar.html';
  ?>

  <!-- Token Hidden -->
  <input type="hidden" class="smep-year-value" value="2019">
  <input type="hidden" class="smep-unique-token">
  <input type="hidden" class="smep-unique-edit-token">
  <input type="hidden" class="smep-idprogram-token">
  <input type="hidden" class="smep-idkegiatan-token">
  <input type="hidden" class="smep-idro-token">
  <!-- ------------ -->
  
  <div class="content-wrapper smep-content-page">
    <?php
			include_once 'pages/app/dashboard/data.html';
		?>
	</div>
	<?php
		include_once 'default/footer.html';
		include_once 'lib/unique.js.html';
	?>
</div>
</body>
<?php
	include_once 'lib/js.html';
?>
</html>

<script type="text/javascript">
  function appDashboardBoxData(id_skpd){
      jQuery.ajax({
        type      : 'AJAX',
        method    : 'GET',
        url       : 'app/dashboard/rekapitulasi/'+id_skpd,
        async     : true,
        dataType  : 'JSON',
        success   : function(JSON){
          jQuery(".dashboard-app-pagu-anggaran").html(JSON[0][0]);
          jQuery(".dashboard-app-pagu-terpaket").html(JSON[0][1]);
          jQuery(".dashboard-app-pagu-belum-terpaket").html(JSON[0][2]);
          jQuery(".dashboard-app-paket-rup").html(JSON[0][3]);
          jQuery(".dashboard-app-pagu-terealisasi").html(JSON[0][4]);
          jQuery(".dashboard-app-pagu-belum-terealisasi").html(JSON[0][5]);
          jQuery(".dashboard-app-paket-terealisasi").html(JSON[0][6]);
          jQuery(".dashboard-app-paket-belum-terealisasi").html(JSON[0][7]);
        },
        error     : function(jqXHR, textStatus, errorThrown){
          location.href = window.location.href+"app/auth/sessionPage";
        }
      });
  }

    function appDashboardChartRealisasi(id_skpd){
    jQuery.ajax({
      type      : 'AJAX',
      method    : 'GET',
      url       : 'app/dashboard/realisasi/bulan/'+id_skpd,
      async     : true,
      dataType  : 'JSON',
      success   : function(JSON){
          Morris.Line({
            element: 'line-chart',
            resize: true,
            data: [
              {month: 'Januari',    item: JSON[0][0]},
              {month: 'Februari',   item: JSON[0][1]},
              {month: 'Maret',      item: JSON[0][2]},
              {month: 'April',      item: JSON[0][3]},
              {month: 'Mei',        item: JSON[0][4]},
              {month: 'Juni',       item: JSON[0][5]},
              {month: 'Juli',       item: JSON[0][6]},
              {month: 'Agustus',    item: JSON[0][7]},
              {month: 'September',  item: JSON[0][8]},
              {month: 'Oktober',    item: JSON[0][9]},
              {month: 'November',   item: JSON[0][10]},
              {month: 'Desember',   item: JSON[0][11]}
            ],
            xkey              : 'month',
            ykeys             : ['item'],
            parseTime         : false,
            labels            : ['Pagu Realisasi'],
            lineColors        : ['#efefef'],
            lineWidth         : 2,
            hideHover         : 'auto',
            gridTextColor     : "#fff",
            gridStrokeWidth   : 0.4,
            pointSize         : 2,
            pointStrokeColors : ["#efefef"],
            gridLineColor     : "#efefef",
            gridTextFamily    : "Open Sans",
            gridTextSize      : 10
          });
      },
      error     : function(jqXHR, textStatus, errorThrown){
        location.href = window.location.href+"app/auth/sessionPage";
      }
    });
  }

  function appDashboardTableRealisasiData(id_skpd){
      jQuery.ajax({
        type      : 'AJAX',
        method    : 'GET',
        url       : 'app/dashboard/paket-non-realisasi/'+id_skpd,
        async     : true,
        dataType  : 'JSON',
        success   : function(JSON){
        	jQuery(".smep-dashboard-app-table-realisasi").DataTable({
            destroy         : true,
            processing      : true,
            "lengthMenu"    : [10],
            data            : JSON
        	});
        },
        error     : function(jqXHR, textStatus, errorThrown){
          location.href = window.location.href+"app/auth/sessionPage";
        }
      });
  }

  function appDashboardTableTemporary(){
    jQuery.ajax({
        type      : 'AJAX',
        method    : 'GET',
        url       : 'app/dashboard/temporary',
        async     : true,
        dataType  : 'JSON',
        success   : function(JSON){
          jQuery(".smep-dashboard-app-table-temporary").DataTable({
            destroy         : true,
            processing      : true,
            "lengthMenu"    : [10],
            data            : JSON
          });
        },
        error     : function(jqXHR, textStatus, errorThrown){
          location.href = window.location.href+"app/auth/sessionPage";
        }
      });
  }
</script>
